/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}
/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}
/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}
/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}
/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
*/

a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link,

{
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
/* Apply "..." after 5 lines of text */
.text-style-5lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 4 lines of text */
.text-style-4lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex !important;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.text-wrap-balance	{
text-wrap: balance;
}

.brand-logo-embed	{
mix-blend-mode: exclusion;
}

.splide__slide.is-active .slider-title-wrap	{
opacity:0;
pointer-events:none;
}

.splide__slide.is-active .slider-description	{
opacity:1;
display:flex;
}

button[disabled], html input[disabled] {
    cursor: default;
    opacity: 0.4;
}

@media screen and (max-width: 991px) {
.bottom-border-5px	{
width: calc(100% - 64px) !important;
}
}



/*.splide__slide .autoplay_bar {
  width: 0%;
  height: 100%;
  transition-property: width;
  transition-duration: 0ms;
  transition-timing-function: linear;
}

.splide__slide.is-active .autoplay_bar {
  width: 100%;
  height: 100%;
  transition-property: width;
  transition-duration: 4000ms;
  transition-timing-function: linear;
}

.splide__slide.is-active .autoplay_component {
  opacity: 1 !important;
}
*/

.autoplay_bar {
  width: 0%;
  height: 100%;
  transition-property: width;
  transition-duration: 4000ms;
  transition-timing-function: linear;
}

.phil_text	{
mix-blend-mode: exclusion;
}

[data-theme="dark"]	{
	--nav--color: #000000 !important;
  --nav--gradient: #ffffff !important;
}
